{
  "presets": [
    "react",
    "stage-3",
    ["env", {
      "targets": {
        "browsers": ["Chrome 58"]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "ramda",
    "syntax-dynamic-import"
  ]
}
